{% extends "base/front_base.html" %}

{% block title %}coursePage{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/course/course.css' %}">
{% endblock %}
{% block main %}
    <main id="course-container">
  <div class="w1200">
    <ul class="course-list">
        {% for course in courses %}
          <li class="course-item">
            <a href="{% url 'course:coursedetail' course.id %}">
              <img class="course-img" src="{{ course.cover_url }}"
                   alt="">
              <div class="course-content">
                <p class="course-info">{{ course.title }}</p>
                <p class="course-author">{{ course.teacher.name }}</p>
                <p class="course-pirce free">免费</p>
              </div>
            </a>
          </li>
    {% endfor %}
    </ul>
  </div>
</main>
{% endblock %}
{% block src %}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
  <script src="{% static 'js/base/common.js' %}"></script>

{% endblock %}
