{% extends "base/front_base.html" %}

{% block title %}searchPage{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/base/side.css' %}">
    <link rel="stylesheet" href="{% static 'css/news/search.css' %}">
{% endblock %}
{% block main %}
    <!-- main start -->
    <main id="main">
        <div class="w1200 clearfix">
<!-- main-contain start  -->
<div class="main-contain ">
  <!-- search-box start -->
  <div class="search-box">
    <form action="{% url 'news:search' %}" style="display: inline-flex;">
      <input type="search" placeholder="请输入要搜索的内容" name="q" class="search-control">
      <input type="submit" value="搜索" class="search-btn">
    </form>
    <!-- 可以用浮动 垂直对齐 以及 flex  -->
  </div>
  <!-- search-box end -->
  <!-- content start -->
  <div class="content">
    <!-- search-list start -->
      {% if q %}
    <div class="search-result-list">
      <h2 class="search-result-title">
        搜索结果 <span style="font-weight: 300;"></span>
      </h2>
      <ul class="news-list">
          {% for news in result_newses %}
            <li class="news-item clearfix">
          <a href="{% url 'news:dtail' tag_id=news.id %}" class="news-thumbnail" target="_blank">
            <img src="{{ news.thumbnail }}" >
          </a>
          <div class="news-content">
            <h4 class="news-title"><a href="{% url 'news:dtail' tag_id=news.id %}">{{ news.title }}</a></h4>
            <p class="news-details">{{ news.desc }}</p>
            <div class="news-other">
              <span class="news-type">{{ news.tag.name }}</span>
              <span class="news-time">{{ news.pub_time }}</span>
              <span class="news-author">{{ news.auth.username }}</span>
            </div>
          </div>
        </li>
          {% endfor %}
      </ul>
    </div>
    <!-- search-list end -->
    <!-- news-contain start -->
      {% else %}
    <div class="news-contain">
      <div class="hot-recommend-list">
        <h2 class="hot-recommend-title">热门推荐</h2>
        <ul class="news-list">
        {% for hnew in h_newses %}
          <li class="news-item clearfix">
            <a href="{% url 'news:dtail' tag_id=hnew.news.id %}" class="news-thumbnail" >
              <img src="{{ hnew.news.thumbnail }}" >
            </a>
            <div class="news-content">
              <h4 class="news-title">
                <a href="{% url 'news:dtail' tag_id=hnew.news.id %}">{{ hnew.news.title }}</a>
              </h4>
              <p class="news-details">
              </p>
              <div class="news-other">
                <span class="news-type">{{ hnew.news.tag.name }}</span>
                <span class="news-time">{{ hnew.news.pub_time }}</span>
                <span class="news-author">{{ hnew.news.auth.username }}</span>
              </div>
            </div>
          </li>
       {% endfor %}
        </ul>
      </div>
    </div>
    <!-- news-contain end -->
    </div>
    {% endif %}
  <!-- content end -->
</div>
<!-- main-contain  end -->
</div>
</main>
<!-- main end -->
{% endblock %}
{% block src %}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src=" {% static 'js/base/common.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}

